{% extends 'components/_estructura_admin.html' %}
{% block titulo %}Detalle de Receta{% endblock %}
{% block contenido %}
<div class="container">
    <h2>Detalle de la Receta: {{ receta.nombre_receta }}</h2>
    <h2>Nombre Galleta: {{ nombre_galleta }}</h2>

     <!-- Flash Messages (solo errores) -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == "danger" or category == "error" %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}

    <!-- Fin Flash Messages -->

    <table class="table table-striped">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Materia Prima</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ detalle.materia_prima.nombre_materia }}</td>
                <td>{{ detalle.cantidad_insumo }}</td>
                <td>
                    <form method="POST" action="{{ url_for('receta.eliminar_detalle', id_receta=receta.id_receta, id_detalle=detalle.id_detalle_receta) }}">
                        {{ form.csrf_token }}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Agregar nueva materia prima</h3>
    <form method="POST">
        {{form.csrf_token}}

        <div class="form-group">
            {{ form.id_materia.label }}
            {{ form.id_materia(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cantidad_insumo.label }}
            {{ form.cantidad_insumo(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}