{%extends 'components/estructura_produccion.html'%}
{%block titulo%}Login{%endblock%}
{%block contenido%}
{% import 'components/_macro_login.html' as macros%}

<title>Cocina</title>

<div class="container d-flex aling-center justify-content-center flex-column align-center mt-5" style="width: 90%;">
    <div class="menu d-flex aling-center justify-content-center flex-column align-center">
        <div class="sub-header d-flex justify-content-between">
            <div class="sub-header-title">
                <h1>Pedidos</h1>
            </div>
        </div>
        <hr>
        <div class="data d-flex aling-center justify-content-center flex-column">
            <div class="table">
                <table class="table table-light table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha Entrega</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in lstPedidos %}
                            <tr>
                                <th scope="row" style="align-content: center;">{{ loop.index }}</th>
                                <td style="align-content: center;">{{ pedido.nombre }} {{ pedido.primerApellido }}</td>
                                <td style="align-content: center;">{{ pedido.fecha_pedido }}</td>
                                <td style="align-content: center;">{{ pedido.estatus.upper() }}</td>
                                <td style="align-content: center;">
                                    <button class="btn btn-primary btn-detalle" type="button" data-bs-toggle="modal" data-bs-target="#modalDetallesPedidos" data-pedido-id="{{ pedido.id_pedido }}" onclick="cargarDetallesPedido()">
                                        <i class="bi bi-list"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDetallesPedidos" tabindex="-1" aria-labelledby="modalDetallesPedidosLabel" aria-modal="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                    {{form.csrf_token}}
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDetallesPedidosLabel">Detalles pedido</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" id="tblDetalleProduccion">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th scope="col">Galleta</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detallePedido in detallesPedido %}
                                    <tr>
                                        <th scope="row" style="align-content: center;" name="idGalleta" id="{{ detallePedido.id_galleta }}">{{ loop.index }}</th>
                                        <td style="align-content: center;">{{ detallePedido.nombre_galleta }}</td>
                                        <td style="align-content: center;" name="cantidad">{{ detallePedido.cantidad }}</td>
                                        <td style="align-content: center; text-transform: uppercase;" name="tipoPedido">{{ detallePedido.tipo_pedido }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="buton" id="btnProcesarPedido">Procesar<i class="bi bi-fire ms-1"></i></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../../static/js/page-produccion/pedidos.js"></script>
{%endblock%}