{%extends 'components/estructura.html'%}
{%block titulo%}Login{%endblock%}
{%block contenido%}
{% import 'components/_macro_login.html' as macros%}

<title>Cocina</title>

<div class="container d-flex aling-center justify-content-center flex-column align-center mt-5" style="width: 90%;">
    <div class="menu d-flex aling-center justify-content-center flex-column align-center">
        <div class="sub-header d-flex justify-content-between">
            <div class="sub-header-title">
                <h1 id="tituloHistorial">Historial</h1>
            </div>
            <div class="sub-header-buttons d-flex align-items-center" style="width: 33%;">
                <p class="w-100 m-0 fw-bold">Seleccione una fecha: </p>
                <input id="inpFecha" type="date" class="form-control" aria-describedby="basic-addon2" onchange="actualizarTituloHistorial()">
            </div>
        </div>
        <hr>
        <div class="data d-flex aling-center justify-content-center flex-column">
            <div class="table">
                <table class="table table-light table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Galleta</th>
                            <th scope="col">Total</th>
                            <th scope="col">Vendidas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Vainilla</td>
                            <td>120</td>
                            <td>115</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Chocolate</td>
                            <td>13</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Red Velvet</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons d-flex justify-content-center align-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProduccion">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalProduccion" tabindex="-1" aria-labelledby="modalProduccion" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Agregar Produccion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Galleta</th>
                                <th scope="col" class="text-center">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="align-content: center;" scope="row">1</th>
                                <td style="align-content: center;">Chocolate</td>
                                <td class="text-center">
                                    <div class="opcion d-flex justify-content-center align-items-center">
                                        <button class="btn btn-danger" style="margin-right: 10px;"><i
                                                class="bi bi-dash-circle-fill"></i></button>
                                        <div class="data-produccion d-flex flex-column"
                                            style="width: 30%; padding-top: 13px;">
                                            <div class="data-produccion-principal">
                                                <p><b>1</b></p>
                                            </div>
                                            <div class="data-produccion-secundaria"
                                                style="margin-top: -20px; opacity: 70%;">
                                                <p>10 Galletas</p>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" style="margin-left: 10px;"><i
                                                class="bi bi-plus-circle-fill"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th style="align-content: center;" scope="row">2</th>
                                <td style="align-content: center;">Vainilla</td>
                                <td class="text-center">
                                    <div class="opcion d-flex justify-content-center align-items-center">
                                        <button class="btn btn-danger" style="margin-right: 10px;"><i
                                                class="bi bi-dash-circle-fill"></i></button>
                                        <div class="data-produccion d-flex flex-column"
                                            style="width: 30%; padding-top: 13px;">
                                            <div class="data-produccion-principal">
                                                <p><b>1</b></p>
                                            </div>
                                            <div class="data-produccion-secundaria"
                                                style="margin-top: -20px; opacity: 70%;">
                                                <p>10 Galletas</p>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" style="margin-left: 10px;"><i
                                                class="bi bi-plus-circle-fill"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th style="align-content: center;" scope="row">3</th>
                                <td style="align-content: center;">Red Velvet</td>
                                <td class="text-center">
                                    <div class="opcion d-flex justify-content-center align-items-center">
                                        <button class="btn btn-danger" style="margin-right: 10px;"><i
                                                class="bi bi-dash-circle-fill"></i></button>
                                        <div class="data-produccion d-flex flex-column"
                                            style="width: 30%; padding-top: 13px;">
                                            <div class="data-produccion-principal">
                                                <p><b>1</b></p>
                                            </div>
                                            <div class="data-produccion-secundaria"
                                                style="margin-top: -20px; opacity: 70%;">
                                                <p>10 Galletas</p>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" style="margin-left: 10px;"><i
                                                class="bi bi-plus-circle-fill"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Producir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPedidos" tabindex="-1" aria-labelledby="modalPedidos" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Pedidos pendientes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Fecha Pedido</th>
                                <th scope="col">Fecha Limite</th>
                                <th scope="col">Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Gabriel Sanchez</td>
                                <td>14/03/2025</td>
                                <td>21/03/2025</td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalDetallesPedidos"><i class="bi bi-eye-fill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Gabriel Sanchez</td>
                                <td>14/03/2025</td>
                                <td>21/03/2025</td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalDetallesPedidos"><i class="bi bi-eye-fill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Gabriel Sanchez</td>
                                <td>14/03/2025</td>
                                <td>21/03/2025</td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalDetallesPedidos"><i class="bi bi-eye-fill"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDetallesPedidos" tabindex="-2" aria-labelledby="modalDetallesPedidos"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-m modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Detalles pedido #1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Galleta</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Vainilla</td>
                                <td>10</td>
                                <td>Unidades</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Chocolate</td>
                                <td>1</td>
                                <td>Caja (20 Unidades)</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Red Velvet</td>
                                <td>100</td>
                                <td>Gramos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}