{%extends 'components/estructura_produccion.html'%}
{%block titulo%}Login{%endblock%}
{%block contenido%}
{% import 'components/_macro_login.html' as macros%}

<title>Cocina</title>

<div class="container d-flex aling-center justify-content-center flex-column align-center mt-5" style="width: 90%;">
    <div class="menu d-flex aling-center justify-content-center flex-column align-center">
        <div class="sub-header d-flex justify-content-between">
            <div class="sub-header-title">
                <h1 id="tituloHistorial">Historial{% if fecha %} - {{ fecha }}{% endif %}</h1>
            </div>
            <div class="sub-header-buttons d-flex align-items-center" style="width: 33%;">
                <form action="produccion-historial" id="formHistorial">
                    <p class="w-100 m-0 fw-bold">Seleccione una fecha: </p>
                    <input id="inpFecha" type="date" name="fecha" class="form-control" aria-describedby="basic-addon2" onchange="actualizarTituloHistorial()" value="{{ fecha if fecha else '' }}">
                </form>
            </div>
        </div>
        <hr>
        <div class="data d-flex aling-center justify-content-center flex-column">
            <div class="table">
                <table class="table table-light table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Galleta</th>
                            <th scope="col">Total</th>
                            <th scope="col">Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for galleta in lstGalletas %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ galleta.nombre_galleta }}</td>
                                <td>{{ galleta.cantidad_galleta * 10 }} Galletas</td>
                                <td>{{ galleta.hora_produccion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}