{%extends 'components/estructura.html'%}
{%block titulo%}Login{%endblock%}
{%block contenido%}
{% import 'components/_macro_login.html' as macros%}

<title>Cocina</title>

<div class="container d-flex aling-center justify-content-center flex-column align-center mt-5" style="width: 90%;">
    <div class="menu d-flex aling-center justify-content-center flex-column align-center">
        <div class="sub-header d-flex justify-content-between">
            <div class="sub-header-title">
                <h1>Stock</h1>
            </div>
        </div>
        <hr>
        <div class="data d-flex aling-center justify-content-center flex-column">
            <div class="table">
                <table class="table table-light table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Galleta</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for galleta in lstGalletas %}
                            <tr>
                                <th scope="row">{{ galleta.id_galleta }}</th>
                                <td>{{ galleta.nombre_galleta }}</td>
                                <td>{{ galleta.cantidad_galleta }}</td>
                                <td>
                                    <div class="estatus-stock" style="height: 30px; width: 30px; border-radius: 50%; background-color: 
                                        {% if galleta.cantidad_galleta < 10 %}
                                            red
                                        {% elif galleta.cantidad_galleta >= 10 and galleta.cantidad_galleta < 20 %}
                                            yellow
                                        {% elif galleta.cantidad_galleta > 40 %}
                                            orange
                                        {% elif galleta.cantidad_galleta >= 20 and galleta < 40 %}
                                            green
                                        {% endif %};"></div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="buttons d-flex justify-content-center align-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProduccion">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalProduccion" tabindex="-1" aria-labelledby="modalProduccion" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form action="/agregarGalleta" method="post">
                    {{form.csrf_token}}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Agregar Produccion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                            <table class="table table-hover" id="tblAgregarProduccion">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Galleta</th>
                                        <th scope="col" class="text-center">Cantidad Ordenes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for galleta in lstGalletas %}
                                        <tr>
                                            <th style="align-content: center;" id="{{ galleta.id_galleta }}" scope="row">{{ galleta.id_galleta }}</th>
                                            <td name="id_receta" style="align-content: center;">{{ galleta.nombre_galleta }}</td>
                                            <td class="text-center">
                                                <div class="opcion d-flex justify-content-center align-items-center">
                                                    <button type="button" class="btn btn-danger minus-btn" style="margin-right: 10px;" onclick="updateQuantity(this, false)">
                                                        <i class="bi bi-dash-circle-fill"></i>
                                                    </button>
                                                    <div class="data-produccion d-flex flex-column" style="width: 30%; padding-top: 13px; cursor: default; user-select: none;">
                                                        <div class="data-produccion-principal">
                                                            <p><b name="cantidad" class="quantity">1</b></p>
                                                        </div>
                                                        <div class="data-produccion-secundaria" style="margin-top: -20px; opacity: 70%;">
                                                            <p class="cookies-count">10 Galletas</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-success plus-btn" style="margin-left: 10px;" onclick="updateQuantity(this, true)">
                                                        <i class="bi bi-plus-circle-fill"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" id="enviarDatos">Procesar<i class="bi bi-fire ms-1"></i></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../../../../static/js/page-produccion/produccion.js"></script>
{%endblock%}