{%extends 'components/estructura.html'%}
{%block titulo%}Login{%endblock%}
{%block contenido%}
{% import 'components/_macro_login.html' as macros%}

<div class="d-flex aling-center justify-content-center m-5">
    <div class="message d-flex aling-center justify-content-center flex-column">
        <div class="title">
            <h1 class="fw-bold">Aun seguimos trabajando en esta pagina!</h1>
        </div>
        <div class="img d-flex justify-content-center mt-5">
            <img src="../../../static/img/working.JPG" class="rounded" style="width: 400px; height: 350px;">
        </div>
    </div>
</div>

{%endblock%}