{% extends 'components/estructura_usuario.html' %}
{% block titulo %}Inicio Cliente{% endblock %}
{% block contenido %}
{% import 'components/_macro_login.html' as macros %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/page-cliente/cliente.css') }}">

<div id="overlay"></div>
<button id="btn-carrito">🛒{{ carrito|length if carrito else 0 }}</button>


<div class="container-cliente mt-5" style="height: 100vh !important;">
    <h1 class="text-center header-cliente">Pedidos</h1>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <a href="/piezas" style="text-decoration: none;"> 
            <div class="card-cliente">
                <div class="img-container-cliente">
               
                </div>
                <div class="body-card-cliente">
                    <h5 class="title-card-cliente mt-4">Galletas</h5>
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4">
            <a href="/paquete" style="text-decoration: none;"> 
            <div class="card-cliente">
                <div class="img-container-cliente">
                    <img src="{{ url_for('static', filename='img/paquete_menu.png') }}" alt="Paquete">
                </div>
                <div class="body-card-cliente">
                    <h5 class="title-card-cliente mt-4">Paquete</h5>
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4">
            <a href="/peso" style="text-decoration: none;"> 
            <div class="card-cliente">
                <div class="img-container-cliente">
                    <img src="{{ url_for('static', filename='img/buscula_menu.png') }}" alt="Peso">
                </div>
                <div class="body-card-cliente">
                    <h5 class="title-card-cliente mt-4">Peso</h5>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/page-cliente/cliente.js') }}"></script>

{% endblock %}
