{%extends 'components/_estructura_admin.html'%}
{%block titulo%}Economía{%endblock%}
{%block contenido%}
 <!-- Mensaje flash -->
 <div class="row">
    <div class="col-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
            style="font-size: 15px;" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
</div>




<div class="container d-flex aling-center justify-content-center flex-column align-center w-90 mt-2">
    <div class="menu d-flex aling-center justify-content-center flex-column align-center">
        <div class="sub-header d-flex justify-content-between">
            <div class="sub-header-title">
                <h1>Nómina</h1>
            </div>

            <div class="sub-header-buttons d-flex align-items-center">
                <a href="/economia/nomina/sueldos">
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpleado"> Pagos <i class="bi bi-plus-circle-fill"></i></button>
                </a>
                
            </div>
        </div>

        
<div class="sub-header-buttons d-flex align-items-center" style="width: 33%;">
    <div>
        <p class="w-100 m-0 fw-bold">Seleccione una fecha: </p>
        <input id="inpFecha" type="month" name="fechaSel" class="form-control" aria-describedby="basic-addon2" onchange="consultarNomina()" value="{{ fecha if fecha else '' }}">
    </div>
    <div class=" mx-2">
        <p class="w-100 m-0 fw-bold">Periodo: </p>
        <select id="quin" class="form-select " name="quincena" >
            <option value="">Mes completo</option>
            <option value="1">Primera quincena (1-15)</option>
            <option value="2">Segunda quincena (16-fin de mes)</option>
        </select>
    </div>
</div>

        <hr>

        

        <div class="data d-flex aling-center justify-content-center flex-column">
            <div class="table">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Fecha de pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if pagos%}
                        {% for pago in pagos %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{ pago.nombre }}</td>
                            <td>${{ pago.cantidad_pagada }}</td>
                            <td>{{ pago.fecha_pago.strftime('%d/%m/%Y') }}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <th>TOTAL:</th>
                            <td></td>
                            <td class="text-center fw-bold">${{pagos[0].total_pagos}}</td>
                        </tr>
                        {%endif%}
                    </tbody>
                </table>
                {%if ( not pagos )%}
                        <h5 class="text-center font-weight-bold">No hay pagos registrados</h3>
                            {%endif%}
            </div>

        </div>
    </div>

</div>


 <!-- Barra de navegación inferior 
    <nav class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container-fluid d-flex justify-content-around">
            <a class="nav-link text-light text-primary" href="/economia/nomina"><i class="bi bi-house-door"></i> Nómina</a>
            <a class="nav-link text-light" href="/economia/nomina/sueldos"><i class="bi bi-search"></i> Pago de sueldos</a>
        </div>
    </nav>-->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../static/js/page-economia/nomina.js"></script>

    {%endblock%}
