{%extends 'components/_estructura_admin.html'%}
{%block titulo%}Economía{%endblock%}
{%block contenido%}
 <!-- Mensaje flash -->
 <div class="row">
    <div class="col-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
            style="font-size: 15px;" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
</div>

<form class="m-5" method="GET" action="/economia/nomina">
    <label for="mes">Mes:</label>
    <select name="mes">
        {% for num, nombre in [(1, 'Enero'), (2, 'Febrero'), (3, 'Marzo'), (4, 'Abril'), (5, 'Mayo'), (6, 'Junio') , (7, 'Abril'), (8, 'Agosto'), (9, 'Septiembre'), (10, 'Octubre'), (11, 'Noviembre'), (12, 'Dicembre')]%}
            <option value="{{ num }}">{{ nombre }}</option>
        {% endfor %}
    </select>

    <label for="anio">Año:</label>
    <input type="number" name="anio" min="2023" max="2025" required>

    <label for="quincena">Quincena:</label>
    <select name="quincena">
        <option value="">Mes completo</option>
        <option value="1">Primera quincena (1-15)</option>
        <option value="2">Segunda quincena (16-fin de mes)</option>
    </select>

    <button type="submit">Buscar</button>
</form>



<div class="container d-flex aling-center justify-content-center flex-column align-center w-90 mt-5">
    <div class="menu d-flex aling-center justify-content-center flex-column align-center">
        <div class="sub-header d-flex justify-content-between">
            <div class="sub-header-title">
                <h1>Nómina</h1>
            </div>

            <div class="sub-header-buttons d-flex align-items-center">
                <a href="/economia/nomina/sueldos">
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpleado"> Pagos <i class="bi bi-plus-circle-fill"></i></button>
                </a>
                
            </div>
        </div>
        <hr>

        

        <div class="data d-flex aling-center justify-content-center flex-column">
            <div class="table">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Fecha de pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if pagos%}
                        {% for pago in pagos %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{ pago.nombre }}</td>
                            <td>${{ pago.cantidad_pagada }}</td>
                            <td>{{ pago.fecha_pago.strftime('%d/%m/%Y') }}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <th>TOTAL:</th>
                            <td></td>
                            <td class="text-center fw-bold">${{pagos[0].total_pagos}}</td>
                        </tr>
                        {%endif%}
                    </tbody>
                </table>
                {%if ( not pagos )%}
                        <h5 class="text-center font-weight-bold">No hay pagos registrados</h3>
                            {%endif%}
            </div>

        </div>
    </div>

</div>


 <!-- Barra de navegación inferior -->
    <nav class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container-fluid d-flex justify-content-around">
            <a class="nav-link text-light text-primary" href="/economia/nomina"><i class="bi bi-house-door"></i> Nómina</a>
            <a class="nav-link text-light" href="#"><i class="bi bi-search"></i> Ingresos</a>
            <a class="nav-link text-light" href="#"><i class="bi bi-person"></i> Sueldos</a>
        </div>
    </nav>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {%endblock%}
