{%extends 'components/_estructura_admin.html'%}
{%block titulo%}Empleados{%endblock%}
{%block contenido%}
{% import 'components/_macro_proveedor.html' as macros%}


<div class="container mt-1">
    <!-- Mensaje flash -->
    <div class="row">
        <div class="col-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                style="font-size: 15px;" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
    </div>
</div>



<style>
    .table-fixed {
        max-height: 500px;
        overflow-y: auto;
    }

    .table-fixed thead {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }
</style>
<div class="container d-flex align-items-center justify-content-center flex-column mt-5" style="width: 90%;">
    <div class="menu d-flex align-items-center justify-content-center flex-column w-100">
        <div class="sub-header d-flex justify-content-between w-100">
            <div class="sub-header-title">
                <h1 id="tituloEmpleado">Empleados</h1>
            </div>
            <div class="sub-header-buttons d-flex align-items-center" style="width: 33%;">
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpleado">Nuevo
                    empleado <i class="bi bi-plus-circle-fill"></i></button>
            </div>
        </div>
        <hr class="w-100">
        <div class="data w-100">
            <div class="table-responsive" style="max-height: 700px; overflow-y: auto;">
                <table class="table table-light table-hover mb-0">

                    <thead>
                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col">Nombre Empleado</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {%for empleado in lista_empleados%}
                        <tr {%if(empleado.persona.estatus==0)%}class="table-danger" {%endif%}>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{empleado.persona.nombre}}</td>

                            <td>
                                {%if (empleado.usuario.rol_user == 0)%}
                                Administardor
                                {%elif (empleado.usuario.rol_user == 3)%}
                                Cocinero
                                {%elif (empleado.usuario.rol_user == 4)%}
                                Cajero
                                {%else%}
                                Desconocido
                                {%endif%}
                            </td>
                            <td class="">
                                <a
                                    href="/navegante/empleado/detallesEmpleado?id_emp={{empleado.id_empleado}}&modal=detalle"><button
                                        class="btn btn-primary">
                                        <i class="bi bi-eye-fill"></i>
                                    </button></a>
                                <a
                                    href="/navegante/empleado/detallesEmpleado?id_emp={{empleado.id_empleado}}&modal=edit">
                                    <button class="btn btn-primary bg-warning">
                                        <i class="bi bi-pencil-square"></i>
                                    </button></a>
                                {%if(empleado.persona.estatus!=0)%}
                                <button onclick="ventanaConfirmarEliminacion({{empleado.id_empleado}});"
                                    class="btn btn-primary bg-danger" data-bs-toggle="modal"
                                    data-bs-target="#confirmarEliminarEmpleado">
                                    <i class="bi bi-trash"></i>
                                </button>
                                {%else%}
                                <button onclick="ventanaConfirmarReactivacion({{empleado.id_empleado}});"
                                    class="btn btn-primary bg-success" data-bs-toggle="modal"
                                    data-bs-target="#confirmarReactivarEmpleado">
                                    <i class="bi bi-check-square"></i>
                                </button>
                                {%endif%}
                            </td>
                        </tr>
                        {%endfor%}
                        {%if ( not lista_empleados )%}
                        <h5 class="text-center">No hay empleados registrados</h3>
                            {%endif%}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal agregar empleado -->
    <div class="shadow modal fade" id="modalAgregarEmpleado" style="display: none;" tabindex="-1" aria-hidden="true"
        aria-labelledby="modalAgregarEmpleado">
        <div class="modal-dialog modal-m modal-dialog-centered modal-dialog-scrollable">
            {%if (form_empleado!=None)%}

            <form class="modal-content" id="agregarProveedor" method="POST" action="/navegante/agregarEmpleado">
                {{form_empleado.csrf_token}}

                <div class="modal-header">
                    <h4 class="modal-title" id="tituloModalAgregarEmpleado">Agregar empleado</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="m-4 justify-text-center ">Datos personales:</h5>
                    {{macros.macro_campo_upd_proveedor(form_empleado.nombre)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.primer_apellido)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.segundo_apellido)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.direccion)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.telefono)}}

                    <h5 class="m-4 justify-text-center ">Datos del usuario:</h5>
                    {{macros.macro_campo_upd_proveedor(form_empleado.nombre_usuario)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.correo)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.rol_user)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.contrasenia)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.confirmar_contrasenia)}}

                    <h5 class="m-4 justify-text-center ">Datos del empleado:</h5>
                    {{macros.macro_campo_upd_proveedor(form_empleado.sueldo)}}
                    {{macros.macro_campo_upd_proveedor(form_empleado.dias_laborales)}}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            {%endif%}
        </div>
    </div>


    <!-- Modal detalles de empleado -->
    <div class="shadow modal fade" id="modalDetallesEmpleado" tabindex="-1" aria-labelledby="modalDetallesEmpleado"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-m modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenteredScrollableTitle">Datos personales del empleado</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class=" modal-body">
                    {%if (emp_sel)%}
                    <div class="d-flex">
                        <p class="fw-bold col-4 mx-2 d-flex">Nombre:</p>
                        <div class="d-flex col-7">
                            <div class="mx-2" id="nombreEmpleadoSel">{{emp_sel.persona.nombre}}
                                {{emp_sel.persona.primerApellido}}
                                {{emp_sel.persona.segundoApellido}}</div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="fw-bold col-4 mx-2 d-flex">Correo:</p>
                        <div class="d-flex col-7">
                            <div class="mx-2" id="correoEmpleadoSel">{{emp_sel.persona.correo}}</div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="fw-bold col-4 mx-2 d-flex">Dirección:</p>
                        <div class="d-flex col-7">
                            <div class="mx-2" id="direccionEmpleadoSel">{{emp_sel.persona.direccion}}</div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="fw-bold col-4 mx-2 d-flex">Teléfono:</p>
                        <div class="d-flex col-7">
                            <div class="mx-2" id="telefonoEmpleadoSel">{{emp_sel.persona.telefono}}</div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="fw-bold col-4 mx-2 d-flex">Estatus:</p>
                        <div class="d-flex col-7">
                            {%if (emp_sel.persona.estatus == 0)%}
                            <div class="mx-2" id="estatusEmpleadoSel">Inactivo</div>
                            {%else%}
                            <div class="mx-2" id="estatusEmpleadoSel">Activo</div>
                            {%endif%}
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="fw-bold col-4 mx-2 d-flex">Sueldo:</p>
                        <div class="d-flex col-7">
                            <div class="mx-2" id="sueldoEmpleadoSel">${{emp_sel.sueldo_empleado}}</div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="fw-bold col-4 mx-2 d-flex">Días laborales a la semana:</p>
                        <div class="d-flex col-7">
                            <div class="mx-2" id="diasLaboralesEmpleadoSel">{{emp_sel.dias_laborales}}</div>
                        </div>
                    </div>

                    {%endif%}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal editar empleado-->
    <div class="shadow modal fade" id="modalEditarEmpleado" style="display: none;" tabindex="-1" aria-hidden="true"
        aria-labelledby="modalEditarEmpleado">
        <div class="modal-dialog modal-m modal-dialog-centered modal-dialog-scrollable">
            {%if(emp_sel != Undefined)%}
            <form method="POST" id="formularioEditarEmpleado" class="modal-content"
                action="/navegante/empleado/actualizarEmpleado?id_emp_upd={{emp_sel.id_empleado}}">
                {{form_empleado.csrf_token}}
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloModalEditarEmpleado">Modificar empleado</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {%if (emp_sel)%}
                    
                    {{macros.macro_campo_upd_proveedor(form_emp_edit.nombre, emp_sel.persona.nombre)}}
                    {{macros.macro_campo_upd_proveedor(form_emp_edit.primer_apellido, emp_sel.persona.primerApellido)}}
                    {{macros.macro_campo_upd_proveedor(form_emp_edit.segundo_apellido, emp_sel.persona.segundoApellido)}}
                    {{macros.macro_campo_upd_proveedor(form_emp_edit.direccion, emp_sel.persona.direccion)}}
                    {{macros.macro_campo_upd_proveedor(form_emp_edit.telefono, emp_sel.persona.telefono)}}
                    {{macros.macro_campo_upd_proveedor(form_emp_edit.sueldo,emp_sel.sueldo_empleado)}}
                    {{macros.macro_campo_select_dias_lab(emp_sel.dias_laborales)}}

                    {%endif%}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
            {%endif%}
        </div>
    </div>

    <!-- modalEliminarEmpleado -->
    <div class="modal" tabindex="-1" id="confirmarEliminarEmpleado">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminación de empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está segur@ de inhabilitar a este empleado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancelar</button>
                    <a id="btnEliminarEmpleado"><button type="button" class="btn btn-primary">Si,
                            desactivar</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal reactivar Empleado -->
    <div class="modal" tabindex="-1" id="confirmarReactivarEmpleado">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reactivación de empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está segur@ de reactivar a este empleado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancelar</button>
                    <a id="btnReactivarEmpleado"><button type="button" class="btn btn-primary">Si,
                            reactivar</button></a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../../static/js/empleado.js"></script>
<script>
    const modalesAbiertos = {{ modales| safe }};
</script>
{%endblock%}